
@model AppRole
@{
    ViewData["Title"] = "Role Permission";
}

<h1>@ViewData["Title"]</h1>

<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.AppRoleId)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Name)
</dd>

<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.AppRolePermissions)
</dt>



<dd class="col-sm-10">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Group</th>
            <th>Code</th>
            <th>Remarks</th>
        </tr>
        @foreach (var item in Model.AppRolePermissions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PermissionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Permission.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Permission.ParentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Permission.Code)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Permission.Remarks)
                </td>
            </tr>
        }
    </table>
</dd>
