@model IEnumerable<MH.PLCM.Core.Entities.MenuItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CssClassForIcon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentMenuItemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MenuText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CssClassForIcon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentMenuItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
