@model IEnumerable<Category>
@{
    ViewData["Title"] = "Popup AddEdit";
}

<h2>@ViewData["Title"]</h2>



<div id="modal-placeholder"></div>

<div id="notification"></div>

<p>
    <button type="button" class="btn btn-default btn-sm" data-toggle="ajax-modal" data-target="#add-category" data-url="@Url.Action("Category")">
        Add Category
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-sm" data-toggle="ajax-modal"
                            data-target="#add-category"
                            data-url="@Url.Action("Category","PopupAddEdit", new { Id= item.CategoryId })">
                        Edit
                    </button>
                    <button type="button" id="@item.CategoryId" class="btn btn-danger btn-sm delete-prompt">Delete</button>


                </td>
            </tr>
        }
    </tbody>
</table>


<!-- Bootstrap modal popup -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-danger">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Infromation Dialog</h4>
            </div>
            <div class="modal-body">
                <p class="success-message">Are you sure you wish to delete this record ? </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success delete-confirm">Ok</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- End of the boostrap modal popup -->

@section Scripts
{
    <script>
        $(document).ready(function () {
            //start of the document ready function
            //delcaring global variable to hold primary key value.
            var rowId;
            $('.delete-prompt').click(function () {
                rowId = $(this).attr('id');
                $('#myModal').modal('show');
            });

            $('.delete-confirm').click(function () {
                if (rowId != '') {
                    $.ajax({
                        url: 'PopupAddEdit/Delete',
                        data: { 'Id': rowId },
                        type: 'post',
                        success: function (data) {
                            if (data) {
                                //now re-using the boostrap modal popup to show success message.
                                //dynamically we will change background colour
                                if ($('.modal-header').hasClass('alert-danger')) {
                                    $('.modal-header').removeClass('alert-danger').addClass('alert-success');
                                    //hide ok button as it is not necessary
                                    $('.delete-confirm').css('display', 'none');
                                }
                                $('.success-message').html('Record deleted successfully');
                            }
                        }, error: function (err) {
                            if (!$('.modal-header').hasClass('alert-danger')) {
                                $('.modal-header').removeClass('alert-success').addClass('alert-danger');
                                $('.delete-confirm').css('display', 'none');
                            }
                            $('.success-message').html(err.statusText);
                        }
                    });
                }
            });

            //function to reset bootstrap modal popups
            $("#myModal").on("hidden.bs.modal", function () {
                $(".modal-header").removeClass(' ').addClass('alert-danger');
                $('.delete-confirm').css('display', 'inline-block');
                $('.success-message').html('').html('Are you sure you wish to delete this record ?');
            });

            //end of the docuement ready function
        });
    </script>
    <script src="~/_content/MH.PLCM.Northwind.Web/js/popUpdate.js"></script>
}
